doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    h2
    a(href='/') Mailtruck World
    ul
      li
        a(href='/login') login
      li
        a(href='/register') register
    block content
