extends layout

block content
  h1= title
  p Welcome back
 
  if flash
    p(class='flash')= flash

  if errors
    each error in errors
      p(class='validation-error')= error

  form(action='/users/' method='post' class="login")
    label
      span username
      input(type='text' name='username' autofocus)
    label 
      span password
      input(type='password' name='password')

    input(type='submit' value='login')
  
