body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
ul li {
  display: flex;
}

ul li a {
  padding: .3em;
}

label {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
}

label span {
  margin-left: 1.3em;
}

form.login, form.register{
  padding: 1em;
  background: #efefef;
  border: solid 1px #ccc;
  max-width: 450px;
}
.login input, .register input {
  font-size: 1.3em;
  margin: 1em;
}
input[type=submit] {
  border: solid 1px #fff;
  background: #00B7FF;
  color: #efefef;
  padding: 1em;
  text-shadow: 1px 0px 0 #7A7A7A;
} 

.note input {
  font-size: 1.5em;
  margin-bottom: .3em;
}

.note textarea {
  min-height: 600px;
}

.note input, .note textarea {
  width: 100%;
}
